@charset "UTF-8";

/* ログイン画面レイアウト */

html {}

.login-header {
    display: block;
    text-align: center;
    margin: -5% 55% -5% 0;
}


.top-logo {
    margin-left: 5%;
}

.top-title {
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 30px;
    color: #fff;
}



body {
    max-height: fit-content;
    background: linear-gradient(180deg, rgba(4, 115, 242, 1) 0%, rgba(228, 230, 70, 0.8084477219626168)100%);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 15% 0 15% 35%;
}

.login-container {
    text-align: center;
    margin: 10% 50% 10% 5%;
}

.login-card {
    background: rgba(0, 0, 0, 0.2);
    /* 黒（透明度20%） */
    ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 5%;
    color: #fff;
}

.title {
    font-size: 24px;
    color: #fff;
}

.title span {
    font-size: 16px;
    font-weight: normal;
}

.welcome {
    font-size: 18px;
    margin-bottom: 10%;
}

.input-group {
    text-align: left;
    margin-bottom: 8%;
    display: block;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.login-button {
    background: #E53935;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    margin-left: 60%;
}

.add-login-button {
    background: #E53935;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-bottom: 10%;
    margin-left: 23%;

}

.add-title {
    font-weight: bold;
    font-size: 18px;
}

.add-comment {
    padding: 10%;
}

.register-link {
    margin-top: 10%;
}

a {
    color: #fff;
}
